@{
  ViewBag.Title = "Create";
}

<div class="row">
  <div class="columns">
    <div class="panelx">
      @using (Html.BeginForm()) {
        <div class="panel">
          <div>
            <input type="text" name="Title" placeholder="Item's title..." />
          </div>
          <div>
            <input type="file" name="uploadFile" />
          </div>
          <div>
            <button type="submit" class="success small radius button">
              Add Item
            </button> 
          </div>
        </div>
      }
    </div>
  </div>
</div>
