@using DocExplorer.Models
@model IEnumerable<Item>


@{
  ViewBag.Title = "Browse";
}

<div class="row">
  <div class="columns">
    <a href="@Url.Action("Create")" class="small radius button">Create</a> 
    <div>
      <strong>Total:</strong> @Model.Count() items.
    </div>
    <div class="large-block-grid-5">
      <ul>
        @foreach (var item in Model) {
          <li>@item.Title</li>
        }
      </ul>
    </div>
  </div>
</div>

