<nav class="top-bar">
  <ul class="title-area">
     
    <li class="name">
      <h1><a href="#">doc-explorer</a></h1>
    </li>
    

    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
</nav>
